In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

         Date Blood_Type Region  Demand      Event
0  2021-01-31         A+  North     521  Emergency
1  2021-01-31         A+  South     537     Normal
2  2021-01-31         A+   East     444     Normal
3  2021-01-31         A+   West     247     Normal
4  2021-01-31         A-  North     205     Normal

In [4]:
df.isnull()

       Date  Blood_Type  Region  Demand  Event
0     False       False   False   False  False
1     False       False   False   False  False
2     False       False   False   False  False
3     False       False   False   False  False
4     False       False   False   False  False
...     ...         ...     ...     ...    ...
1147  False       False   False   False  False
1148  False       False   False   False  False
1149  False       False   False   False  False
1150  False       False   False   False  False
1151  False       False   False   False  False

[1152 rows x 5 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.head()

        Date Blood_Type Region  Demand      Event
0 2021-01-31         A+  North     521  Emergency
1 2021-01-31         A+  South     537     Normal
2 2021-01-31         A+   East     444     Normal
3 2021-01-31         A+   West     247     Normal
4 2021-01-31         A-  North     205     Normal

In [12]:
encoder = {}
category = ['Blood_Type','Region','Event']

for col in category:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    encoder[col] = le

In [13]:
df.head()

        Date  Blood_Type  Region  Demand  Event
0 2021-01-31           0       1     521      0
1 2021-01-31           0       2     537      2
2 2021-01-31           0       0     444      2
3 2021-01-31           0       3     247      2
4 2021-01-31           1       1     205      2

In [15]:
df.isnull().sum()

Date          0
Blood_Type    0
Region        0
Demand        0
Event         0
dtype: int64

In [17]:
df['Blood_Type'].unique()

array([0, 1, 4, 5, 2, 3, 6, 7])

In [22]:
import matplotlib.pyplot as plt

In [23]:
demand = df.groupby('Date')['Demand'].sum()